.clearfix {
display: block;
}
.clearfix:after {
clear: both;
display: block;
height: 0;
content: " ";
visibility: hidden;
}

body {
width:100%;
height:100%;
margin:0;
padding:0;
}
#wrapper {
width: 980px;
margin: 0 auto;
padding: 0;
position: relative;
}

#textarea-wrapper {
margin: 0 auto;
clear: both;
position: relative;
}

#textarea-wrapper textarea {
    font-size:14px;
}

#input-wrapper {
position:fixed;
width : 100%;
bottom:0;
}

#candybox-wrapper{
width:100%;
height:44px;
margin:0 auto;
       border-top:1px solid #333;
       border-bottom:1px solid #333;
}

#candybox {
width:1024px;
margin:0 auto;
       overflow-x:auto;
       overflow-y:hidden;
       -webkit-overflow-scrolling:auto;
position:relative;
}

#candybox-openner{
width:44px;
      text-align:center;
      border-left:1px solid #333;
padding:10px 0;
        border-right:1px solid #333;
        box-shadow:3px 0 4px rgba(0,0,0,0.5);
position:fixed;
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
right:0;
}

#candies {
width:10000px;
}
#candies .candy {
    font-size:18px;
color:#555;
padding:8px 20px 9px 20px;
        border-left:1px solid #333;
float:left;
}

#keyboard-wrapper {
height: 352px;
        border-top:1px solid white;
}
#keyboard {
width: 1022px;
height:100%;
padding:5px 1px;
margin:0 auto;
position: relative;
}

.key-row {
position:relative;
         margin-left:-12px;
}

#row-1 {
    padding-left:41px;
}


.key , .key *{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
cursor : pointer;
}

.key {
width: 80px;
height: 74px;
        border-radius: 10px;
border: 1px solid #555;
        margin-left:12px;
        margin-bottom:12px;
float:left;
      font-size: 24px;
      /*  text-shadow: 1px 1px 2px white */;
      text-align:center;
position:relative;

}

.key-enter {
width:133px!important;
}

.key-space {
width:456px!important;
}

.key .key-char {
padding:20px 0;
color: #333;
}

/*
 *  * Flick
 *   */

.flick {
position:absolute;
         z-index:9999;
         text-align:center;
color:white;
}
.flick .flick-char {
padding:20px 0;
        font-weight:bold;
}
.flick:after, .flick:before {
position:absolute;
content:" ";
width:0;
height:0;
}
.flick-v{
width:80px;
height:70px;
}
.flick-v:after, .flick-v:before {
    margin-left:-40px;
left:50%;
border:40px solid transparent; 
}
.flick-top {
top:-100%;
    box-shadow:0 2px 6px rgba(0,0,0,0.7);
    border-radius:10px 10px 0 0;
    border-top:1px solid white;
}
.flick-top:after {
top:70px;
    border-top-color:rgba(32,124,229,1);
}
.flick-bottom {
bottom:-100%;
       box-shadow:0 -2px 6px rgba(0,0,0,0.7);
       border-radius:0 0 10px 10px;
       border-bottom:1px solid white;
}
.flick-bottom:before {
top: -80px;
     border-bottom-color:rgba(32,125,229,1);
}
.flick-h{
height:76px;
width:80px;
}
.flick-h:after, .flick-h:before {
top : 50%;
      margin-top:-38px;
border:38px solid transparent; 
}

.flick-right {
top: 0;
right:-100%;
      border-radius:0 10px 10px 0;
      box-shadow:2px 0 6px rga(0,0,0,0.7);
      border-right:1px solid white;
}
.flick-right:after {
left: -76px;
      border-right-color:rgba(32,125,229,1);
}

.flick-left {
top: 0;
left:-100%;
     border-radius:10px 0 0 10px;
     box-shadow:2px 0 6px rga(0,0,0,0.7);
     border-left:1px solid white;
}
.flick-left:before {
right: -76px;
       border-left-color:rgba(32,125,229,1);
}





/*
 *  * Pie
 *   */

.pie {
width: 200px;
height: 200px;
        border-radius: 128px;
border: 3px solid #ccc;
background: rgba(0,0,0,0.4);
position: absolute;
opacity:0;
        z-index:9999;
}

.pieCenter {
width: 82px;
height: 82px;
margin: 57px;
        border-radius: 42px;
border: 2px solid #ccc;
position:relative;
background: rgba(255,255,255,1);
}

.pieCenter .pieCenterChar {
position:absolute;
         font-size: 36px;
}

.pieConcents {
width: 44px;
height: 44px;
        border-radius: 22px;
position: absolute;
}

.pieConcents .pieConcentsChar {
color: white;
       text-shadow: 0px 0px 4px black;
       font-size: 18px;
position:absolute;
}

/*
 *  * Util
 *   */

.ds {
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.ds:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.8);
    -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.8);
    -o-box-shadow: 0 1px 6px rgba(0,0,0,0.8);
}

.is {
    box-shadow: 0 2px 3px rgba(0,0,0,0.4) inset;
}

.gg{
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.grad_gray:active {
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* W3C */
filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.gdg{
background: rgb(164,168,178); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(164,168,178,1) 0%, rgba(73,73,73,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,168,178,1)), color-stop(100%,rgba(73,73,73,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(164,168,178,1) 0%,rgba(73,73,73,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(164,168,178,1) 0%,rgba(73,73,73,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(164,168,178,1) 0%,rgba(73,73,73,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(164,168,178,1) 0%,rgba(73,73,73,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a8b2', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
}


.grad_black {
background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

}

.gbv{
background: -moz-linear-gradient(top,  rgba(73,155,234,1) 1%, rgba(32,124,229,1) 100%); /* FF3.6+ */
background: rgb(73,155,234); /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */

}
.gbvr{
background: rgb(32,124,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(32,124,229,1) 0%, rgba(73,155,234,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,124,229,1)), color-stop(99%,rgba(73,155,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea',GradientType=0 ); /* IE6-9 */
}

.gbh{
background: rgb(73,155,234); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(73,155,234,1) 1%, rgba(32,124,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(73,155,234,1) 1%,rgba(32,124,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 */
}

.gbhr{
background: rgb(32,124,229); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(32,124,229,1) 0%, rgba(73,155,234,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(32,124,229,1)), color-stop(99%,rgba(73,155,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* IE10+ */
background: linear-gradient(left,  rgba(32,124,229,1) 0%,rgba(73,155,234,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea',GradientType=1 ); /* IE6-9 */
}




